.ticket_card {
  width: 94%;
  margin: 10px;
  box-shadow: 5px 5px 8px 2px #888888;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
}

.silver {
  background-color: #fcfbfbcd;
  width: 94%;
  margin: 10px;
  box-shadow: 5px 5px 8px 2px #888888;
  height: 60px;
  border-radius: 5px;
}
.gold {
  background-color: #e7c53e;
  width: 94%;
  margin: 10px;
  box-shadow: 5px 5px 8px 2px #888888;
  height: 60px;
  border-radius: 5px;
}
.platinum {
  background-color: #b3b4b1;
  width: 94%;
  margin: 10px;
  box-shadow: 5px 5px 8px 2px #888888;
  height: 60px;
  border-radius: 5px;
}
.ticket_id {
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 28px;
  border-right: 2px solid rgb(47, 45, 45);
  border-right-style: dotted;
  font-weight: bold;
}
.ticket_number {
  justify-content: center;
  align-items: center;
  display: flex;
}
