.screen_seat_container {
  background-color: #888888;
}
.seat_container {
  background-color: rgb(167, 170, 170);
}
.screen_container {
  background-color: aquamarine;
}
.body_container {
  width: 100%;
}
.raw_view {
  display: flex;
}
.column_view_not_booked {
  padding: 10px;
  background-color: rgb(127, 172, 255);
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
}
.column_view_not_booked:hover {
  background-color: #b8eaad;
  box-shadow: 5px 5px 8px 2px #888888;
}
.column_view_booked {
  padding: 10px;
  margin: 10px;
  width: 30px;
  height: 30px;
  border-radius: 10px 10px 0px 0px;
  background-color: rgb(8, 109, 45);
  box-shadow: 5px 5px 8px 2px #888888;
  color: #fff;
}
